$FLUIDMS-CONFIG: (
    min-font-size: 12px,
    max-font-size: 34px,
    max-viewport: 960px,
    ratio: 1.1,
    720px: (
        ratio: 1.125
    ),
    scales: (
        6,
        5,
        4,
        3,
        2,
        1,
        0,
        -1,
        -2,
        -3,
    ),
) !default;

@import "../src/fluidms";

* {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-bottom: 1.5rem;
}

@if ($FLUIDMS-GLOBAL-BASELINE) {
    html {
        background-image: repeating-linear-gradient(
            to bottom,
            #ccc,
            #ccc 1px,
            transparent 1px,
            transparent $FLUIDMS-GLOBAL-BASELINE
        );
    }
}

h1 {
    @include fluidms-font-size(
        $font-size: ms(6)
    );
}

h2 {
    @include fluidms-font-size(
        $font-size: ms(5)
    );
}

h3 {
    @include fluidms-font-size(
        $font-size: ms(4)
    );
}

h4 {
    @include fluidms-font-size(
        $font-size: ms(3)
    );
}

h5 {
    @include fluidms-font-size(
        $font-size: ms(2)
    );
}

h6 {
    @include fluidms-font-size(
        $font-size: ms(1)
    );
}

.o-wrapper {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

.u-small {
    @include fluidms-font-size(
        $font-size: ms(-1)
    );
}

.u-milli {
    @include fluidms-font-size(
        $font-size: ms(-2)
    );
}

.u-micro {
    @include fluidms-font-size(
        $font-size: ms(-3)
    );
}
