// Settings
@import "src/settings/settings.config";

// Tools
@import "src/tools/tools.utils";
@import "src/tools/tools.font-size";
@import "src/tools/tools.line-height";

// Generic
@import "src/generic/generic.ms-custom-properties";

// Elements
@import "src/elements/elements.page";
